body{
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #3d3d3d;
    font-family: Arial, Helvetica, sans-serif;
}

.heading{
position: absolute;
top: 150px;
left: 150px;
    font-size: 180px;
    letter-spacing: 4px;
}

.st0{fill:#171717;}
    .st1{fill:#F5F5F5;}
    
    svg{
        position: absolute;
        width: 50%;
    right: 0;
    top: 0;
    }

  .boxes{
      position: absolute;
      top: 40%;
      left: 20px;
      
  }
  .changeButtonColor{
    background-color: #FFFF00;
  }
  .change{
      cursor: pointer;
      width: 200px;
      height: 80px;
      display: grid;
      justify-content: center;
      align-items: center;
      background-color: #F5F5F5;
color: #3d3d3d;
font-size: 25px;
border-radius: 10px;
margin-bottom: 50px;
  }
  .changeLight1,.changeLight2,.changeLight3,.changeLight4{
    cursor: pointer;
    width: 150px;
    height: 60px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
color: #3d3d3d;
font-size: 20px;
border-radius: 10px;
margin-bottom: 10px;
}


.red{
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
padding: 5px;
    background-color: #F5F5F5;

}
.blue{
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
padding: 5px;
color:black;
background-color: #F5F5F5;

}